.depart_main{
    margin-left: 16vw;
    margin-top: 5vw;
}

.departments{
    display: flex;
    gap: 5vw;
}

.tech_heading {
    margin-top: 8vw;
    margin-left: 2vw;

}

#tech_p1{
    margin-left: 2vw;
}

#tech_p2 {
    margin-left: 1vw;
}

@media (max-width: 600px) {
    .departments {
        flex-wrap: wrap;
    }
    .tech_heading{
        margin-top: 20vw;
    }
    #tech_p1 {
        width: 90vw;
    }
    #tech_p2\ {
        width: 90vw;
    }
    
}