.mab_container{
    margin-top: 6vw
}

.main_cards_about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vw;

}

.mab_container h1{
    margin-left: 32vw;
    font-size: 2.2vw;
    margin-bottom: 2vw;
}

@media (max-width: 600px) {
    .main_cards_about {
            display: flex;
            flex-direction: column;
        }

        .mab_container h1 {
            font-size: 4vw;
            width: 70vw; 
            margin-left: 18vw;
            margin-bottom: 5vw;
        }

    
}

