.get_users{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 2vw;
}

#search-user-input{
    margin-left: 10vw;
}

#search-user-input::placeholder{
    color: black;
}

#user-search-btn{
    margin-left: -2vw;
    margin-top: 0.3vw;
}

.display_users{
    margin-top: 5vw;
}