#user_bill_table{
    width: 50vw;
    border-collapse: collapse;
    margin-bottom: 2vw;
    margin-top: 3.5vw;
    margin-left: 5vw;
    margin-right: 5vw;

}

#user_bill_table th,
#user_bill_table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

#user_bill_table th,
#user_bill_table td {
    color: white;
}

#user_bill_table th {
    color: black;
}

#user_bill_table th {
    background-color: #f2f2f2;
}

#user_bill_table tbody tr:nth-child(even) {
    background-color: #423d3d;
}
#user-search-btn{
    margin-right: 20vw;
}