.signup-content{
    background-image: url(
        "../../assets/signup-img.jpg"
    );
}


.signup-form h3{
    font-size: 2.5vw;
    padding-bottom: 1vw;
}

#home-btn-signup{
    margin-left: 38vw;
    margin-top: 2vw;

}