.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    margin-top: 4vw;

}

.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    margin-top: 2vw;

}

.card_heading{
    margin-left: 40vw;
    margin-top: 9vw;
    font-size: 2.4vw;
    color: #000000;
    background-color: #ffffff;
}

#bill-card{
    height: 17vw;
}

#net-card{
    height: 16vw;
}

#number-card{
    height: 16vw;
}


@media (max-width: 600px) {
    .cards,
    .card2{
        flex-direction: column;
    }
    .card_heading{
        font-size: 5vw;
        margin-left: 28vw
    }
        #bill-card, #net-card, #number-card {
            height: 45vw;
        }
    
}