.operation_card{
    display: flex;
    gap: 4vw;
    margin-top: 3vw;
}

#op_para1{
    margin-left: 2vw;
}

#op_para2 {
    margin-left: 2vw;
}

@media (max-width: 600px) {
    .operation_card {
        flex-wrap: wrap;
    }
    
}