#upload-refno,
#upload-units,
#upload-amt,
#upload-month,
#upload-curr,
#upload-prev {
    width: calc(100% - 2vw);
    margin-top: 1vw;

}

#upload-label {
    margin-top: 0.4vw;
    display: block;
    color: white;
}

#upload-heading {
    padding-left: 2vw;
    padding-top: 2.5vw;
    color: white;
}

#upload_btn {
    margin-top: 2vw;
}

#upload-refno::placeholder,
#upload-units::placeholder,
#upload-amt::placeholder,
#upload-month::placeholder,
#upload-curr::placeholder,
#upload-prev::placeholder{
    color: black;
}