.home-btn{
    background-image: url('../../assets/login-img2.jpg');
    background-repeat: none;
    background-size: cover;

}


.login-form h3{
    /* padding-left: 5vw; */
    padding-bottom: 1vw;
    font-size: 3vw;

}
/* 
#form-control{
    width: 25vw;

} */


